<div class="ud-header">
  <h2 class="text-center">Public Chat</h2>
</div>
<div class="ud-body">
  <div class="msg-box">
    <ul>
      <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.username === msg.username ? 'in-msg' : 'ex-msg'">{{mObj.username}} :<br /><span class="msg-italic-style">{{mObj.messageText}}</span></li>
    </ul>
  </div>
  <div class="ud-flex-row">
    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msg.messageText"  />
    <button class="send-btn" (click)= "sendMessage()"><i class="fa fa-paper-plane"></i></button>
  </div>
</div>
